.wrapper {
  color: white;
  font-size: 16px;
  display: flex;
  flex-direction: row;

  align-items: center;
}

.link {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
  color: white;
  text-decoration: none !important;
}

.target {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  text-decoration: underline;
}
