@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

.wrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin-left: -7px;
}

.content {
  color: white;
}

.subWrapper {
  width: 70%;
  height: 100vh;
  margin-top: 30px;
  overflow-y: scroll;
  margin-left: 15%;
  padding-right: 15%;
}

/* Styles for the scrollbar track */
.subWrapper::-webkit-scrollbar-track {
  background: transparent; /* Optional: the track background */
}

/* Styles for the scrollbar handle */
.subWrapper::-webkit-scrollbar-thumb {
  background: black; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners on the scrollbar thumb */
}

/* Styles for the scrollbar itself */
.subWrapper::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar (for horizontal scroll) */
}

.image {
  width: 98%;
  height: 92%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Higher z-index to be on top */
}
.imageBlur {
  width: 98%; /* Slightly larger than the focused image */
  height: 92%; /* Slightly larger than the focused image */
  object-fit: cover;
  position: absolute;
  filter: blur(10px); /* Apply blur */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Lower z-index to sit behind the focused image */
}

.imgContainer {
  margin-top: 30px;
  height: 350px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.headlineContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-top: 40px;
  color: white;
  margin-bottom: 50px;
}

.statsContainer {
  display: flex;
  flex-direction: row;
  width: 40%;
}

.headlineContainerSubHeadline {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
}

.headlineContainerSubData {
  margin-top: 7px;
  margin-bottom: 0px;
  font-size: 12px;
  letter-spacing: 1px;
}

.headline {
  width: 60%;
  min-width: 430px;
  font-family: "Audiowide", sans-serif;
  font-size: 36px;
  margin-right: auto;
  letter-spacing: 1.5px;
}

.mainHeadline {
  margin-top: 0px;
  margin-bottom: 0px;
}

.readTime {
  min-width: 100px;
  width: 12%;
  margin-left: auto;
  margin-right: auto;
}

.date {
  min-width: 100px;
  width: 12%;
  margin-left: auto;
  margin-right: auto;
}

.author {
  min-width: 100px;
  width: 12%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 500px) and (max-width: 768px) {
  .headline {
    /* width:100%; */
    font-size: 21px;
  }
  .mainHeadline {
    width: 60vw;
  }
}

@media (max-width: 500px) {
  .subWrapper {
    width: 95%;
    height: 100vh;
    margin-top: 30px;
    overflow-y: scroll;
    margin-left: 0;
    padding-right: 0;
  }

  .headline {
    width: 100%;
    min-width: 200px;
    font-family: "Audiowide", sans-serif;
    font-size: 36px;
    margin-right: auto;
    letter-spacing: 1.5px;
  }
}
