.wrapper {
    width:50%;
    margin:auto;
    height: auto;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
    color:white;
}

.menuItem {
    font-weight: 500;
}

.hamburgerMenu {
    width:50px;
    height: 50px;
    margin-right:20px;
    color: white;
}

.dropdownButton {
    background-color: transparent;
    border:none;
}

.mobileMenuBackground {
    display:flex !important;
    justify-content: column !important;
}

.dropdownIcon {
    text-decoration:none!important;
    color: white!important;

}

@media (max-width:768px) {
    .wrapper {
        width:100%;
        align-items:flex-end;
        justify-content: flex-end;
    }
}