.wrapper {
  width: 100%;
  height: 100px;
  bottom: 0px;
  border-top: 1px solid rgb(193, 193, 193);
  position: relative;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyrightStatement {
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 45px;
  margin-top: 0px;
}
