@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  background-image: linear-gradient(
      rgba(0, 13, 33, 0.88),
      rgba(0, 13, 33, 0.88)
    ),
    url("/noise.gif") !important;
  background-position:
    0 0,
    0 0 !important;
  background-size: auto, auto !important;
  position: fixed !important;
  top: 0% !important;
  bottom: auto !important;
  left: 0% !important;
  right: auto !important;
  font-family: "Inter", sans-serif !important;
}

.illustrationPic {
  object-fit: contain;
  width: 50%;
  height: auto;
  margin: auto;
  display: block;
}

.fullWidthPicture {
  object-fit: contain;
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 65px;
}

.folderStructure {
  margin-top: 30px;
  margin-bottom: 65px;
}

a {
  color: #0066da;
  text-decoration: none;
}
